<div class ="text-center"> 
  <div id ="dark-wrapper" class="dark:bg-zinc-900 px-100 py-9 shadow-xl h-screen">
    <div class="container flex flex-col md:flex-row items-center justify-between px-5 text-gray-700">
            <div class="w-full lg:w-1/2 mx-8">
                <div class="text-7xl text-green-300 font-dark font-extrabold mb-8"> About us</div>
            <p class="text-2xl text-green-300 md:text-3xl font-light leading-normal mb-8">
        Expense expert helps you keep track of your expenses by allowing you to categorize what you spend your money on and see expenditures
        </p>
        <br>
        

<div class = "text-xl text-green-300 md:text-2xl font-light leading-normal mb-8"> Who we are
<br><br>
<a class = "hover:text-green-500"  href="https://github.com/Angus-1">Angel Santoyo</a> <br>
<a class = "hover:text-green-500"  href="https://github.com/Peekoe">Charlie Taylor</a>
</div>
            
    </div>
        <div class="w-full lg:flex lg:justify-end lg:w-1/2 mx-5 my-12">
        <img src="https://www.emreertan.com/demos/ht-demo/image/contact-banner.svg" class="" alt="image not found">
        </div>
    
    </div>
</div>

    </div>
</div>