<divclass="text-center">
<div id ="dark-wrapper" class="dark:bg-zinc-900 px-100 py-9 ring-1 ring-slate-900/5 shadow-xl h-screen">
<div class ="text-3xl font-bold text-green-300"> 
 About us!

<h1> Expense expert helps you keep track of your expenses by allowing you to categorize what you spend your money on and see expenditures</h1> <br>
<br>
<div> Who we are</div><br>
<ul> Angel Santoyo</ul><br>
<ul> Charlie Taylor</ul><br>
<ul> Thomas Phan  </ul><br>
<ul> Clay Golan</ul><br>
</div>

<footer class="p-8 text-3xl font-bold text-green-300 pt-44">
    <a  href="https://github.com/Angus-1/Expense-Expert">Github </a>  &nbsp;
    <a  href="mailto:santoyox714@gmail.com">Contact us </a> &nbsp;
    </footer>
       
