<div class ="text-center">  
   <h1 class = "text-4xl font-bold text-green-300 py-4">Expense Expert!💲 </h1>
      <div id ="dark-wrapper" class="dark:bg-zinc-900 px-100 py-9 ring-1 ring-slate-900/5 shadow-xl h-screen">
<div id ="dark-wrapper-new-items" class="dark:bg-zinc-900 px-100 py-9 ring-1 ring-slate-900/5 shadow-xl h-fit">

<div object>
  <button class="border-2 border-green-500 hover:bg-green-500 mt-3 text-green-300  text-center p-3 px-4 text-sm rounded cursor-pointer font-bold" new:expense>New category</button> <br> <br>
  <div array key="allExpenses">
    {{#for expense in expenses}}
      <div object key:expense-name="@search">
       <hr>
        <div class= "text-4xl font-bold text-green-300" object key:expenseType="@innerText" edit:expenseType>category 💲</div><br>
        <div class= "text-3xl font-bold text-green-300" array key="expenseItems">
          {{#for expenseItem in expense.expenseItems}}
            <div object key:item-length="@search" key:item-type="@search" edit:item-length edit:item-type>
              <div class="">
              <div target:item-length="@innerText">{{expenseItem.itemLength}}expense</div>
              <div target:item-type="@innerText">{{expenseItem.itemType}}$</div> <br>
            </div> 
            </div><br>
          {{/for}}
        </div>
      <br><button class="border-2 border-green-500 hover:bg-green-500 mt-3 text-green-300  text-center p-3 px-4 text-sm rounded cursor-pointer font-bold" new:expense-item>New item</button> <br><br>
      </div>
    {{/for}}
  </div>
</div></div>

</div>



</div>