<!-- landing page without login -->
<div class ="text-center"> 
<h1 class = "text-4xl font-bold"> Welcome to my Expense Expert! 💰 </h1>

<ul>
  {{#if currentUser}}
    <a href="/{{currentUser.details.username}}">Go to your dashboard</a>
  {{else}}
  
</div>
  {{/if}}
</ul>
</div>