<!-- landing page without login -->
<div class ="text-center"> 
  <div id ="dark-wrapper" class="dark:bg-slate-800 px-100 py-9 ring-1 ring-slate-900/5 shadow-xl h-screen">
<div class ="text-3xl font-bold"> 
<h1 class = "text-4xl font-bold text-green-300"> Welcome to Expense Expert! 💰 </h1>

<ul>
  {{#if currentUser}}
    <a href="/{{currentUser.details.username}}">Go to your dashboard</a>
  {{else}}
  
</div>
  {{/if}}
</ul>
</div>