<div class ="text-center"> 
  <div id ="dark-wrapper" class="dark:bg-zinc-900 px-100 py-9 ring-1 ring-slate-900/5 shadow-xl h-screen">
<form action="/user/signup" method="post">
  
  <div class="login_form border-2 border-green-500 p-10 pt-5 shadow-sm mx-auto flex rounded" style="width: 700px;">
        <div class="sec flex-1">
  <input class="bg-green-300 w-29 font-bold text-center  p-3 px-5 rounded-l" type="text" name="username" placeholder="Username" required><br> <br>
  <input class="bg-green-300 w-29 font-bold text-center p-3 px-5 rounded-l" type="email" name="email" placeholder="Email" required> <br><br>
  <input class="bg-green-300 w-29 font-bold text-center p-3 px-5 rounded-l"  type="password" name="password" placeholder="Password" required> <br><br>
  <button class="border-2 border-green-500 hover:bg-green-500 mt-3 text-green-300  text-center p-3 px-4 text-sm rounded cursor-pointer font-bold" type="submit">Sign up</button>
</form>
</div>


