<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your App</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/_remake.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<div class ="text-center"> 
<body>
  {{#if currentUser}}
    <a href="/user/logout">Logout</a>
  {{else}}
<div class="p-8">
    <a class="nav__button .p40" href="/user/signup">Sign up </a>  &nbsp;
    <a class="nav__button" href="/user/login">Log in </a> &nbsp;
    <a class="nav__button" href="/about">About</a>
    <hr class="my-4 mx-auto w-21 h-1 bg-gray-100 rounded border-0 md:my-10 dark:bg-gray-700">

    </div>
        </div>

    
  {{/if}}
  {{!-- Show errors --}}
  {{#if flashErrors }}
    {{#each flashErrors }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{!-- Show success messages --}}
  {{#if flashSuccesses }}
    {{#each flashSuccesses }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{> yield }}
  {{#if isPageAuthor}}
    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/assets/js/vendor/Sortable.min.js"></script>
    <script src="/assets/js/vendor/crostini.min.js"></script>
    <script src="/remake/js/remake.min.js"></script>
    <script src="/assets/js/remake-init.js"></script>
  {{/if}}
  <script src="/assets/js/main.js"></script>
</body>
<div>
</html>